@import 'tailwindcss';

body {
    position: relative;
    min-height: 100dvh;
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: url('/assets/svg/bg-image.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    will-change: transform;
}